<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DODAJ KOMENTARZ</title>
    <link rel="stylesheet" type="text/css" href="/css/styleaddcomment.css">
</head>
<body>
<h1>Zostaw komentarz</h1>

<form th:action="@{/addcomment}" method="post" th:object="${comment}">
    <label for="commentator">Twoj Nick:</label>
    <input type="text" id="commentator" name="commentator" th:field="*{name}" required>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span><br>

    <label for="content">Komentarz:</label>
    <textarea id="content" name="content" th:field="*{content}" rows="4" cols="50" required></textarea>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></span><br>

    <input type="submit" value="Dodaj">
</form>
</body>
</html>
