<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DODAJ POST</title>
    <link rel="stylesheet" type="text/css" href="/css/styleaddcomment.css">
</head>
<body>
<h1>Dodaj post</h1>

<form th:action="@{/addpost}" method="post" th:object="${blog}">


    <label for="name">Nick:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span><br>
    <label for="post">Tresc:</label>
    <textarea id="post" name="post" rows="4" cols="50" th:field="*{post}" required></textarea>
    <span th:if="${#fields.hasErrors('post')}" th:errors="*{post}"></span><br>

    <input type="submit" value="Dodaj">
</form>
</body>
</html>
