<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moja Strona</title>
  <link rel="stylesheet" type="text/css" href="/css/stylehome.css">
</head>
<body>
<h1>Witaj na mojej stronie!</h1>

<a href="http://localhost:8080/addexercise"><button type="button" id="dodajZadanie">Dodaj zadanie</button></a>
<a href="http://localhost:8080/addcomment"><button type="button" id="dodajKomentarz">Dodaj komentarz</button></a>
<a href="http://localhost:8080/blog" target="_blank"><button type="button" id="blog">Blog</button></a>

<div class="main-content">
  <div class="exercise" th:each="exercise : ${exercises}">
    <p class="exercise-nick" th:text="${exercise.nick}"></p>
    <p class="exercise-bookName" th:text="${exercise.bookName}"></p>
    <p class="exercise-chapter" th:text="${exercise.chapter}"></p>
    <p class="exercise-exerciseNumber" th:text="${exercise.exerciseNumber}"></p>
    <img th:src="@{${exercise.contentImgUrl}}">
    <img th:src="@{${exercise.solutionImgUrl}}">


  </div>

</div>

<div class="comment-section">
  <div class="comment" th:each="comment : ${comment}">
    <p class="comment-commentator" th:text="${comment.commentator}"></p>
    <p class="comment-content" th:text="${comment.content}"></p>




  </div>

</div>




<!-- Twój kod JavaScript można umieścić tutaj, aby obsłużyć działanie przycisków -->
</body>
</html>